[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
[packages]

sphinx-rtd-theme = "*"
sphinxcontrib-plantuml = "*"
sphinxcontrib-httpdomain = "*"

requests = ">=2.20.0"

# Fix lexer error
pygments = "==2.7.4"
sphinx = "==1.8"

# Security fixes
urllib3 = ">=1.24.2"
Jinja2 = ">=2.10.1"